<script type="text/css">
.sample1{
	font-family:"MS Pゴシック";
	background:#ffffff;
	color:#000000;
	font-size:0.9em;
	padding-top:0.2em;
	padding-bottom:0.2em;
	border:double 3px #f1ffff;
}

.sample2 {
　font-family: "MS UI Gothic",sans-serif;
　background: #ffff75;
　color: #2a194c;
　font-size: 0.9em;
　padding-top: 0.2em;
　padding-bottom: 0.2em;
　border: outset 6px #ff00ff;
}

.sample3 {
　font-family: "ＭＳ Ｐ明朝";
　background: #fffff9;
　color: #800000;
　font-size: 0.9em;
　padding-top: 0.2em;
　padding-bottom: 0.2em;
　border: inset 4px #0000ff;
}

.sample4 {
　font-family: "HG丸ゴシックM-PRO";
　background: #d763ff;
　color: #ffffff;
　font-size: 0.7em;
　padding-top: 0.2em;
　padding-bottom: 0.2em;
　border: ridge 4px #c0c0c0;
}

.sample5 {
　font-family: "Times New Roman";
　background: #e8fff5;
　color: #4b310c;
　font-size: 0.9em;
　padding-top: 0.2em;
　padding-bottom: 0.2em;
　border: groove 4px #001808;
}